*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    /* background: linear-gradient(to right, #00AAFF, #00FF6C); */
    background-color: gray;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(180px, auto) repeat(5, 100px);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .9);
}

.span-two {
    grid-column: span 2;
}

.top-round {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.bottom-left-round {
    border-bottom-left-radius: 20px;
}

.bottom-right-round {
    border-bottom-right-radius: 20px;
}

.output {
    grid-column: 1 / -1;
    border: 10px solid black;
    background-color: #222222;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: rgba(255, 255, 255, 1);
    font-size: 2.5rem;
}